@import '../variables';
@import '../mixins';

.app {
  height: 100%;
  overflow: hidden;

  &__inner {
    display: flex;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
  }
}

.main {
  flex-grow: 1;
  margin-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.dialogs {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  flex-direction: column;
  align-content: center;
}

.dialogs--open {
  display: flex;
}

.dialogs-section {
  @include raised;
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.dialogs-section-header {
  margin: 0;
  font-size: 14px;
}

.dialogs-open {
  &:after {
    content: " ";
    background: transparentize($color-background, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
  }
}
